<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit car</title>
</head>
<body>
    <h1>Edit car #{{ car.id }}: {{ car.name }}</h1>
    <form action="/cars/{{ car.id }}/edit" method="POST">
        <p>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ car.name }}">
        </p>
        <p>
            <label for="max_speed">Max speed:</label>
            <input type="number" id="max_speed" name="max_speed" step="1" value="{{ car.max_speed }}">
        </p>
        <p>
            <label for="fuel_efficiency">Fuel efficiency:</label>
            <input type="number" id="fuel_efficiency" step="0.1" name="fuel_efficiency" value="{{ car.fuel_efficiency }}">
        </p>
        <p>
            <label for="gas_tank_size">Gas tank size:</label>
            <input type="number" id="gas_tank_size" step="0.1" name="gas_tank_size" value="{{ car.gas_tank_size }}">
        </p>
        <p>
            <label for="door_count">Door count:</label>
            <input type="number" id="door_count" step="1" name="door_count" value="{{ car.door_count }}">
        </p>
        {# List all the manufacturers here #}
        <p>
            <label for="manufacturer_id">Select manufacturer:</label>
            <select name="manufacturer_id" id="manufacturer_id">
                {# List each manufacturer as an option #}
                {% for manufacturer in all_manufacturers %}
                    {% if manufacturer.id == car.manufacturer.id %}
                    <option value="{{ manufacturer.id }}" selected>{{ manufacturer.name }}</option>
                    {% else %}
                    <option value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </p>
        {# Show manufacturer here! #}
        <input type="submit" value="Submit">
    </form> 
</body>
</html>