<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New pastry</title>
</head>
<body>
    <h1>New pastry!</h1>
    <form action="/pastries/new" method="POST">
        <p>
            <label for="name">Name:</label>
            <input type="text" name="name">
        </p>
        <p>
            <label for="size">Size:</label>
            <input type="number" step="0.01" name="size">
        </p>
        <p>
            <label for="flavor">Flavor:</label>
            <input type="text" name="flavor">
        </p>
        <p>
            <label for="price">Price:</label>
            <input type="number" step="0.01" name="price">
        </p>
        <input type="submit" value="Submit">
    </form> 
</body>
</html>