<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New patient</title>
</head>
<body>
    <h1>Create a new patient:</h1>
    <form action="/create_patient" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="date_of_birth">Date of birth:</label>
            <input type="date" name="date_of_birth" id="date_of_birth">
        </div>
        <div>
            <label for="doctor_id">Select doctor:</label>
            <select name="doctor_id" id="doctor_id">
                {# List each doctor as an option #}
                {% for doctor in doctors %}
                    <option value="{{ doctor.id }}">{{ doctor.name }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Create patient">
    </form>
</body>
</html>