<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/random.css') }}">
    <title>Some random project</title>
</head>
<body>
    <table id="random_table">
        <thead>
            <tr>
                <th>Type of coffee</th>
                <th>Variety of creamer</th>
                <th>Number of cups</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mocha latte americano</td>
                <td>Hazelnut</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Medium roast</td>
                <td>French vanilla</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
</body>
</html>